/*
New Perspectives on HTML5 and CSS3, 7th Edition
Assignment 6
Author: Emerson Xia
Date: 03/10/2020
Filename: bmi.css
*/

h1 {
color: rgb(66, 135, 245);
font-family: Quicksand, Verdana, Geneva, sans-serif;
line-height: normal;
font-size: 1.75em;
}

h2 {
color: rgb(66, 135, 245);
line-height: normal;
font-size: 1.5em;
}

html {
background-color: rgb(199, 203, 209);
font-family: Quicksand, Verdana, Geneva, sans-serif;
}

body {
line-height: 2;
font-weight: bold;
color: rgb(59, 61, 64);
margin-left: 1em;
}





